[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"
whitenoise = "*"
django-taggit = "*"
python-decouple = "*"

[dev-packages]
model-mommy = "*"

[requires]
python_version = "3.6"
